<%- include header.ejs %> 
<%- include main_nav.ejs %> 
<!--ABOUT-->
<div id="/about" class="container">
   <!-- <div id="about-wrapper">   -->
   <!--     <div id="every-title"><%=title%> me</div>  -->
   <!--  </div> -->
    <div id="about-profile" class="col-11">
        <div class="about-myprofile">
            <div class="mypicture"><img src="/assets/images/mypicture.jpg" alt ="thess" width="250" height="250"/></div>
        </div>
        <div class="about-introduce">
            <span class="introduce-name">Maria Theresa Albufera</span><br/>
            A <span class="text-highlight">Web developer</span> and <span class="text-highlight">Java developer</span>
            <h6> Maria is an international student, taking up Software Engineering Technology. She originally hails from the Philippines. She used to teach computer applications and programming  in different prestigious institutions, Centro Escolar University, De La Salle University, Quezon Polytechnic University and Chiang Kai Shek College.
                She finished Masters in Information Technology, Master in Management, Master in Special Education and Doctor in Education major in Educational Management and Planning. 
                She also earns units in Doctor in Information in Technology. 
                She is a registered professional teacher. Her exposure as a teacher trained her not only in the academic field but also in the non-academic activities which hold her a strong foundation of leadership skills. As a mentee, she is assigned as Student Council Adviser which helps the student leaders to hone their leadership capability to organize and execute different activities for the colleges.
                <p>As teacher, she handles Capstone Technopreneurship Project for Information Technology.  
                Her role as a Practicum Coordinator builds trust and linkages between the school and the company where on-the-job-training student attends.
                Her pursuit to excellence continues as a student at Centennial College.</p> 
                <span class="text-highlight resume"><a href="Assets/albuferaresume.pdf">Click here to check my resume.</a></span><br>
                </h6>   
            </div>
        </div>
        <br><br><br> <br>
        <!--display skill set-->
        <div id="about-skill">
            <div class="skill-wrapper">
                <div class="skill-box">
                    <div class="skill-img">
                        <img src="/Assets/images/JAVA.PNG" alt ="java" width="100" height="100">JAVA
                    </div>
                    <div class="skill-img">
                        <img src="/Assets/images/php.png" alt ="php" width="100" height="100">PHP
                    </div>
                    <div class="skill-img">
                        <img src="/Assets/images/android.jpg" alt ="android" width="100" height="100">ANDROID
                    </div>
                    <div class="skill-img">
                        <img src="/Assets/images/mongodb.png" alt ="mongodb" width="100" height="100">MongoDB
                    </div>  
                   
                </div>
                <div class="skill-box">
                    <div class="skill-img">
                        <img src="/Assets/images/js.png" alt ="javascript" width="100" height="100" >JavaScript
                    </div>
                    <div class="skill-img">
                        <img src="/Assets/images/blender_logo.png"alt ="blender3d" width="100" height="100">Blender3D
                    </div>
                    <div class="skill-img">
                        <img src="/Assets/images/nodejs.png"alt ="nodejs" width="100" height="100">NodeJS
                    </div>
                    <div class="skill-img">
                        <img src="/Assets/images/github.jpg"alt ="github" width="100" height="100">Github
                    </div>         
                </div>
                
                
                <div class="skill-box">
                   
                    
                    <div class="skill-img">
                        <img src="/Assets/images/unity.png" alt ="unity3d" width="100" height="100">Unity
                    </div>
                    <div class="skill-img">
                        <img src="/Assets/images/python.png" alt ="python" width="100" height="100">Python
                    </div>
                </div>
            </div>
        </div>   

        <%- include bottom_nav.ejs %> 
        <%- include footer.ejs %> 
        