<%- include header.ejs %> 
  
<%- include main_nav.ejs %> 
<!--Projects-->
<div class ="container-fluid projectbg">
    <div id="projects" class="container">
        <!--title-->
        <div id="projects-wrapper">
            <div id="every-title"><%=title%></div>
        </div>
        <!--contents-->
        <div class="row">
            <div class="col">
            <div class="card h-100">
                <img src="/Assets/images/mobapp3.jpg" alt ="project" width="150" height="200" class="card-img-top" >
                <div class="card-body">
                <h5 class="card-title">Faculty Mobile Monitoring App</h5>
                <p class="card-text"> This app monitors and reserves schedule for teacher using classroom and room acommodation for tutorial services </p>
                  
            </div>
            </div>
            </div>
            <div class="col">
            <div class="card h-100">
                <img src="/Assets/images/blue.png" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Blue Arcade Card Membership  </h5>
                <p class="card-text">This application is designed for Gym users. It is used for daily transaction and payment.</p>
                
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card h-100">
                <img src="/Assets/images/interacelearning.png" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">E-Learning for Children with Special Needs</h5>
                <p class="card-text">This E-learning software caters the need of children with special need in classroom setting.</p>
                 
                </div>
            </div>
            </div>
        </div>  
    </div>
</div>
<%- include bottom_nav.ejs%>
<%- include footer.ejs%>
