<%- include header.ejs%>
<%- include main_nav.ejs%>
<!--Services-->
<div class="container" id="services">
  <div id="projects-wrapper">
      <div id="every-title"><%=title%></div>
  </div>
  <!--first one-->
  <div class="card" >
      <div class="row g-12 service_card">
        <div class="col-md-6">
          <img src="/Assets/images/systemanalyst.jpg" alt="system analyst">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title text-highlight">Agile software development</h5>
            <h6 class="card-text">My exposure as system critics and adviser in the software development provide a unique opportunity for clients work to hand-in--hand and 
              give immediate feedback to the project. Thereby, amount of time spent in developing the software solution became lesser. </h6>
          </div>
        </div>
      </div>
    </div>
    <!-- second one-->
    <div class="card card2" >
      <div class="row g-12 service_card_2">
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title text-highlight">Website Development</h5>
            <p class="card-text">I consider Web Development as my passion and I have to edit and modify my page right now soon </div>
        </div>
        <div class="col-md-6">
          <img src="/Assets/images/website.png" alt="website">
        </div>
      </div>
    </div>
</div>
<%- include bottom_nav.ejs%>
<%- include footer.ejs%>
